.bg-container{
   
    width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 25px;
    box-shadow: 1px 1px 10px black;
    background-color: #222a34;
}

.header{
    position: relative;
}

.header-title{
    color: white;
    font-size: 30px;
    text-align: right;
    padding-right: 25px;
    padding-top: 10px

}

.upload-btn{
    background-color: #475366;
    border: 0;
    color: white;
    width: 100px;
    height: 37px;
    border-radius: 25px;
    float: left;
    margin-left: 20px;
    display: flex;
    flex-direction: row-reverse;
}

.header-subtext{
    color: white;
    text-align: left;
    padding-left: 133px;
    font-size: 13px;
    padding-top: 3px;
}
.btn-text{
    padding-left: 0.4px;
    padding-top: 1.5px;
}
.btn-icon{
    padding-top: 10px;
    padding-left: 8px;
}
.close-icon{
    position: absolute;
    left: 16px;
    top: 16px;
}